*{
  padding: 0;
  margin: 0;
}
body {
  font-family: 'IBM Plex Mono';
}
.container {
  max-width: 500px;
  background-color: coral;
  margin: auto;
}
.form-group {
  display: block;
  padding: 10px 0 10px 15px;
}

#numero {
  width: 55px;
}